<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<div class="login-container">
    <h2>회원가입</h2>
    <!-- 회원가입 폼 -->
    <form th:action="@{/register}" method="post" th:object="${user}">
        <div class="input-group">
            <label th:for="*{username}">아이디</label>
            <input type="text" th:field="*{username}" required></label><br>
        </div>
        <div class="input-group">
            <label th:for="*{password}">비밀번호</label>
            <input type="password" th:field="*{password}" required></label><br>
        </div>
        <button type="submit" class="btn-login">가입하기</button>
    </form>
</div>

<p th:if="${errorMessage}" th:text="${errorMessage}" style="color:red;"></p>

</body>
</html>
